.nav-list {
  display: none;
}

.address-container {
  display: none;
}

.page-header {
  padding: 24px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-and-button-wrapper {
  display: flex;
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-right: 12px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  border: 1px solid var(--accent-text-color);
  background-color: transparent;
}

.open-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
  padding: 0;
}

.open-menu-icon {
  width: 36px;
  height: 24px;
}

.mobile-menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999;
  background-color: var(--accent-text-color);

  width: 274px;
  height: 100%;
  padding: 20px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wrapper.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-nav {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address-and-close-icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-address {
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
}

.mobile-menu-address-link {
  color: var(--secondary-text-color);
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
}

.mobile-menu-close-button {
  background-color: transparent;
  border: transparent;

  width: 36px;
  height: 36px;
  padding: 0;
}

.close-button-icon {
  stroke: var(--secondary-text-color);
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.mobile-menu-nav-link {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
}

.mobile-menu-bg {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/header/bg-mobile-menu.png);
  background-color: var(--accent-text-color);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .mobile-menu-bg {
    background-image: url(/img/header/bg-mobile-menu@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .social-media-list {
    margin-right: 20px;
  }

  .open-menu-icon {
    width: 44px;
    height: 30px;
  }

  .mobile-menu-wrapper {
    width: 380px;
    padding: 20px 32px;
  }

  .mobile-menu-address {
    padding: 14px 28px;
  }

  .mobile-menu-address-link {
    font-size: 14px;
    line-height: 1.43;
  }

  .mobile-menu-close-button {
    width: 44px;
    height: 44px;
  }

  .mobile-menu-nav-list {
    gap: 25px;
  }

  .mobile-menu-bg {
    background-image: url(/img/header/tablet-menu-bg.png);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .mobile-menu-bg {
    background-image: url(/img/header/tablet-menu-bg@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    justify-content: center;
  }

  .nav-and-address-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-nav {
    display: flex;
    gap: 60px;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .nav-link {
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
  }

  .address-container {
    display: block;
    margin-right: 20px;
  }

  .phone-number-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    padding: 14px 28px;
  }

  .social-media-list {
    margin: 0;
  }

  .open-menu-button {
    display: none;
  }
}
