.nav-list {
  display: none;
}

.phone-number-link {
  display: none;
}

.page-header {
  padding: 24px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-and-button-wrapper {
  display: flex;
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-right: 12px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  border: 1px solid var(--accent-text-color);
  background-color: transparent;
}

.open-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
  padding: 10px 0;
}

.mobile-menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999;
  background-color: var(--accent-text-color);

  width: 274px;
  height: 100%;
  padding: 20px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wrapper.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-nav {
  display: flex;
}

.mobile-menu-phone-number-link {
  color: var(--secondary-text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
}

.mobile-menu-close-button {
  background-color: transparent;
  border: transparent;

  width: 36px;
  height: 36px;
}

.close-button-icon {
  stroke: var(--secondary-text-color);
}

:root {
  --primary-text-color: #fcf9f9;
  --accent-text-color: #ecd979;
  --secondary-text-color: #1c2225;
}
