@import "./reset.css";
@import "./common.css";
@import "./header.css";
@import "./hero.css";
@import "./about-us.css";
@import "./our-collection.css";
@import "./your-order.css";
@import "./testimonials.css";
@import "./footer.css";

:root {
  --primary-text-color: #fcf9f9;
  --accent-text-color: #ecd979;
  --secondary-text-color: #1c2225;
}
